*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
padding-bottom:80px;
}

.topbar{
text-align:center;
padding:20px;
background:#020617;
border-bottom:1px solid #1e293b;
}

.topbar h1{
color:#10b981;
letter-spacing:1px;
}

section{
padding:25px;
}

.balance-card{
background:linear-gradient(135deg,#10b981,#3b82f6);
padding:25px;
border-radius:18px;
text-align:center;
margin-bottom:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.amount{
font-size:36px;
font-weight:bold;
margin:10px 0;
}

.primary-btn{
background:#10b981;
border:none;
padding:12px 20px;
border-radius:10px;
color:white;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

.secondary-btn{
background:#1e293b;
border:none;
padding:10px 18px;
border-radius:10px;
color:white;
cursor:pointer;
}

.deal-card{
background:#020617;
border-radius:18px;
padding:20px;
margin-top:20px;
box-shadow:0 8px 25px rgba(0,0,0,0.5);
}

.deal-header{
display:flex;
justify-content:flex-end;
}

.status{
padding:5px 10px;
border-radius:8px;
font-size:12px;
}

.secured{
background:#10b981;
}

.completed{
background:#3b82f6;
}

.dispute{
background:#ef4444;
}

.deal-amount{
font-size:24px;
margin:10px 0;
}

.progress{
display:flex;
justify-content:space-between;
margin:15px 0;
}

.step{
background:#1e293b;
padding:6px 10px;
border-radius:8px;
font-size:12px;
}

.active{
background:#10b981;
}

.deal-actions{
display:flex;
justify-content:space-between;
margin-top:10px;
}

.create-deal form{
display:flex;
flex-direction:column;
gap:12px;
}

input, textarea{
padding:10px;
border:none;
border-radius:8px;
background:#1e293b;
color:white;
}

.link-box{
background:#020617;
padding:15px;
border-radius:12px;
text-align:center;
margin:15px 0;
}

.share-buttons{
display:flex;
gap:10px;
}

.share-buttons button{
flex:1;
padding:10px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
cursor:pointer;
}

.history-card{
background:#020617;
padding:15px;
border-radius:12px;
margin-top:15px;
}

.profile-card{
background:#020617;
padding:25px;
border-radius:20px;
text-align:center;
}

.verified{
color:#10b981;
margin:10px 0;
}

.stats{
display:flex;
justify-content:space-around;
margin:20px 0;
}

.bottom-nav{
position:fixed;
bottom:0;
width:100%;
background:#020617;
display:flex;
justify-content:space-around;
padding:15px 0;
border-top:1px solid #1e293b;
}

.bottom-nav a{
color:white;
text-decoration:none;
font-weight:bold;
  }
